html {
  position: relative;
  min-height: 100%;
  margin: 0;
}

.logo {
  width: auto;
}

.navbar {
  z-index: 1; /* 네비게이션바가 가장 위에 위치하여 배경뒤에 묻히지 않고 위에서열리게 */
}

/* 드롭박스 3개 */
.nav-item.dropdown {
  display: flex;
  justify-content: space-between; /* 스페이스 공간 주는 역할*/
  align-items: center; /* logo center */
  padding: 10px 30px; /* 너무 붙어있어서 패딩으로 살짝 띄워줌*/
  margin: 0px;
}

.nav-link.dropdown-toggle {
  color: gold;
}

/* 리크루터 메뉴 */
.nav-item {
  display: flex;
  justify-content: space-between; /* 스페이스 공간 주는 역할*/
  align-items: center; /* logo center */
  padding: 0px 30px; /* 너무 붙어있어서 패딩으로 살짝 띄워줌*/
  margin: 0px;
}

body {
  min-height: 100%;
}

section {
  position: static;
}

/* 캘린더 속성 */
.calendar {
  width: 1000px;
  height: 800px;
  margin: 30px 0px 200px 0px;
}

.image-box {
  display: flex;
  justify-content: center;
}

/* 캘린더 속성 */

/* footer 하단 고정 [S] */
footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  margin-top: auto;
  text-align: center;
  font-size: 6px;
  color: blanchedalmond;
  background: black;
}

/* footer 하단 고정 [E] */
